---
# tasks file for ansible-role-su

- include_vars: "{{ ansible_os_family }}.yml"

- name: Adding a user to /etc/group
  replace:
    dest: /etc/group
    regexp: '^(wheel:.*:0:root).*$'
    replace: '\1,{{ su_users | join(",") }}'
    #with_items: "{{ su_users }}"
